<IfModule mod_rewrite.c>
    RewriteEngine On

    # Otomatis deteksi base path atau biarkan kosong jika menggunakan Alias yang benar
    # RewriteBase /bulkuser/api/v2/

    # Prevent directory listing
    Options -Indexes

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Prevent access to .env
    <FilesMatch "^\.env">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>
